/* #ff3368; #ecfdff; */
h1{
    color: rgb(255, 0, 0);
    text-align: center;
    text-size-adjust: calc(0);
    font-size: x-large;
    font-weight: bold;
}


.para{
    color: rgb(128, 0, 13);
}
.para:hover{
    color: yellowgreen;
    view-timeline: 2s;
}

.a{
    color: rgb(221, 255, 0);
    text-align: center;
    text-size-adjust: calc(0);
}
#btn{
    background-color: blue;
    text-emphasis-color: calc(0);
}
#btn:hover{
background-color: black;
color: white;
}
h1:hover{
    color: rgb(0, 255, 170);
}